<h1>Pet Simulator!</h1>
<% if @pet.present? %>
  <p>
    You have a pet named <%= @pet.name %> and it
    <% if (Time.zone.now - @pet.born_at) > 0 %>
      was born <%= distance_of_time_in_words(@pet.born_at, Time.zone.now) %> ago
    <% else %>
      will be born in <%= distance_of_time_in_words(Time.zone.now, @pet.born_at) %>
    <% end %>
  </p>
  <%= button_to "Destroy #{@pet.name}?", pet_path(@pet), method: :delete %>
<% else %>
  <p>Want a new pet?</p>
  <%= form_with model: Pet.new do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, required: true %>
    <%= f.submit %>
  <% end %>
<% end %>
